#./BlackShip/build
#./BlackShip/CMakeFiles
#./BlackShip/lib


#./BlackShip/src/CMakeFiles
#./BlackShip/src/cmake_install.cmake
#./BlackShip/src/Makefile

#./BlackShip/cmake_install.cmake
#./BlackShip/CMakeCache.txt
#./BlackShip/Makefile

CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.vscode
Blackship/executables
Blackship/librairies